.content {
  background-color: #2a2c2f;
}

@media screen and (max-width: 1024px) {
  .content {
    overflow: scroll;
    max-width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .content {
    overflow: scroll;
    max-width: 320px;
  }
}
