.footer {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  background-color: #2a2c2f;
}

.footer__author {
  max-width: 830px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 544px) {
}
