.header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2a2c2f;
  line-height: 150%;
}

.header_logo {
}

@media screen and (max-width: 1280px) {
  .header {
    width: 254.84px;
    gap: 0px;
    opacity: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 254px;
    gap: 0px;
    opacity: 0px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 188px;
    gap: 0px;
    opacity: 0px;
  }
}
