.header {
  margin: 0 auto;
  color: #ffffff;
}

.header__logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 254px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 320px;
  }
}
