.intro {
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .intro {
    width: 100%;

    color: #ffffff;
  }

  .intro_title {
    width: 100%;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: #ffffff;
  }

  .into-quoute {
    width: 100%;
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
  }

  .intro_author {
    width: 100%;
    color: #ffffff;
    width: 732px;
    gap: 0px;
  }

  .intro_description {
    width: 100%;
    color: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 50%;
    color: #ffffff;
  }
  .intro_title {
    width: 50%;
    color: #ffffff;
  }
  .intro_quoute {
    width: 50%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #ffffff;
  }
  .intro_author {
    width: 50%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    color: #ffffff;
  }
  .intro_description {
    width: 50%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 25%;
    color: #ffffff;
  }
  .intro_tittle {
    width: 25%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    color: #ffffff;
  }
  .intro_quoute {
    width: 25%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
  }
  .intro_author {
    width: 25%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    color: #ffffff;
  }
  .intro_description {
    width: 25%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #ffffff;
  }
}
