.intro {
  padding-top: 92px;
  color: #ffffff;
  background-color: #2a2c2f;
}

.intro__title {
  color: #ffffff;
  background-color: #2a2c2f;
  font-size: 54px;
}

.intro__quoute {
  font-size: 24px;
  color: #ffffff;
  background-color: #2a2c2f;
  display: flex;
  justify-content: flex-start;
}
.intro__author {
  font-size: 24px;
  color: #ffffff;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: row-reverse;
}
.intro__description {
  font-size: 16px;
  color: #ffffff;
  background-color: #2a2c2f;
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 768px;
  }
  .intro__title {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro__quoute {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .intro__author {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .intro__description {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 320px;
  }
  .intro__tittle {
    max-width: 320px;
  }
  .intro__quoute {
    max-width: 320px;
  }
  .intro__author {
    max-width: 320px;
  }
  .intro__description {
    max-width: 320px;
  }
}
