.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #2a2c2f;
  max-width: 984px;
  margin: 0 auto;
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  margin: 0 auto;
  text-align: center;
}

.lead__description {
  font-size: 30px;
  max-width: 720px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lead__image {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 1280px;
  }

  .lead_title {
    max-width: 1280px;
  }

  .lead_description {
    max-width: 1280px;
  }

  .lead_image {
    max-width: 1280px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
  .lead__title {
    max-width: 768px;
  }
  .lead__description {
    max-width: 768px;
  }
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
  .lead__title {
    max-width: 320px;
  }
  .lead__description {
    max-width: 320px;
  }
  .lead__image {
    max-width: 320px;
  }
}
