.lead {
  color: #ffffff;
  background-color: #2a2c2f;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 100%;
  }

  .lead_title {
    max-width: 100%;
  }

  .lead_description {
    max-width: 100%;
  }

  .lead_image {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 50%;
  }
  .lead_title {
    max-width: 50%;
  }
  .lead_description {
    max-width: 50%;
  }
  .lead_image {
    max-width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 25%;
  }
  .lead_title {
    max-width: 25%;
  }
  .lead_description {
    max-width: 25%;
  }
  .lead_image {
    max-width: 25%;
  }
}
