@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body {
  font-family: "Inter", Sans-serif;
  background-color: #2a2c2f;
  margin: 0;
  padding: 0;
}
